################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/UnTaskAlert/v16/Server/sqlite3
/src/UnTaskAlert/Properties/PublishProfiles/UnTaskAlert - Web Deploy.pubxml
/src/.vs/UnTaskAlert/v16/.suo
/src/.vs/UnTaskAlert/config/applicationhost.config
/src/.vs/UnTaskAlert/DesignTimeBuild/.dtbcache
/.vs
/src/.vs/unbot/v16
/src/.vs/unbot/DesignTimeBuild/.dtbcache
/src/UnTaskAlert.Tests/obj/Debug/netcoreapp3.0
/src/UnTaskAlert.Tests/bin/Debug/netcoreapp3.0
/src/UnTaskAlert.Tests/obj
/src/UnTaskAlert.Tests/bin/Release/netcoreapp3.0
/src/.vs/unbot
/src/TestConsole/bin/Debug/netcoreapp3.1
/src/TestConsole/obj
/src/UnTaskAlert/Properties/PublishProfiles/UnTaskAlertProd - Zip Deploy.pubxml
/src/UnTaskAlert/Properties/ServiceDependencies/UnTaskAlertProd - Zip Deploy
*.user
/src/TestConsole
