{
	"IsEncrypted": false,
	"Values": {
		"AzureWebJobsStorage": "UseDevelopmentStorage=true",
		"FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
		"TelegramBotKey": "",
		"FromEmailAddress": "",
		"EMailUser": "",
		"EMailPassword": "",
		"Smtp": "",
		"SmtpPort": "587",
		"SmtpSSL": "true",
		"AzureDevOpsAddress": "",
		"AzureDevOpsAccessToken": "",
		"EmailDomain": "",
		"CosmosDbConnectionString": "",
		"DebugLocal": false
	}
}